header {
    position: relative;
    padding: 20px 0;
    text-align: center;

    background: rgba(15, 25, 40, 0.55);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

header p {
    margin: 0;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 500;
    color: #f1f1f1;

    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

header::after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    margin: 12px auto 0;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 2px;
}

body{
    margin: 0 auto;
    background-image: url(./img/background.jpg);
    position: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.msg{
    background-color: #1C1F26;
    color: #fff;
    font-size: 20px;
    width: 30%;
    padding: 20px;
    text-align: center;
    margin: 30vh auto;
}

.custom-navbar{
    background: rgba(15, 30, 50, 0.55);
    color: #ffff;
}

.custom-navbar .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.custom-navbar .nav-link {
    padding: 10px 15px;
    text-align: center;
}

.custom-navbar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    transition: 0.3s;
}

.custom-navbar .nav-link, .custom-navbar .navbar-brand {
    color: #f1f1f1 !important;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    font-weight: 500;
}

.custom-navbar {
    background: rgba(20, 20, 20, 0.55);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

#card{
    height: 160px;
    width: 150px;
    background-color: aqua;
    border-radius: 3px;
    text-align: center;
    align-content: center;
    list-style: none;   /* <- eltünteti a pontot a li elemek elől */
} 

#cards{
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: 100%;
    margin: 20px 0 0 0;
}






















