header{
    background-color: aqua;
    height: 20px;
    width: 100%;
    height: 10vh;
    text-align: center;
    align-content: center;
}
body{
    margin: 0 auto;
    background-image: url(./img/background.jpg);
    position: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.custom-navbar{
    background-color: brown;
}




















